// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.image_backround{
    background-image: url(../assets/imgs/background.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}



.watch_title_ar{
    font-family: 'ge_ss_two';
    color: #a9783e;
    text-align: center;
    font-weight: 100;
    margin-top: 30px;
    font-size: 18px;
}

.watch_title_en{
    font-family: 'Open Sans';
    color: #a9783e;
    text-align: center;
    font-weight: 100;
    margin-top: 30px;
    font-size: 18px;
}


.dots{
    margin-top: 20px;
    width: 100%;
    height:auto;
    float: left;
}

.dots ul{
    padding: 0;
    list-style: none;
    width: 80px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
}

.dots ul li{
    float: right;
}

.dots ul li img{
    width: 20px;
}


.next_btn button{
    width: 200px !important;
    display: block;
    padding: 10px 0px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: -webkit-linear-gradient(left, #a87637 0%,#d6a639 100%); 
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 40px;
}


.next_btn button img{
    width:20px;
}

.btn_ar{
    font-family: 'ge_ss_two';
    color: #ffffff;
    font-size:18px;
}


.btn_en{
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 18px;
}


.bio-image{
    display: block;
    width: 180px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px; 
}
