page-bio-select {

}

.bio_buttons_container{
    margin-top:20px;
}

.bio_selec{
    width: 100%;
    height: auto;
    max-width: 100px;
    display:block;
    margin-left: auto;
    margin-right:auto;
    background-color: transparent;
}


.bio_select_text{
    font-family: 'ge_ss_two','Open Sans';
    color: black;
    text-align: center;
    font-size: 9px;
    line-height: 150%;
}