page-last {

}

.last_one{
    font-family: 'ge_ss_two';
    color:#000000;
    text-align: center;
    font-size: 16px;
}

.last_two{
    font-family: 'ge_ss_two';
    color:#339333;
    text-align: center;
    font-size: 16px;
}
